/* Pour eviter le padding-right ajouter par la modal BS  */

body {
    padding-right: 0 !important
}


/**************************** Police RALEWAY ensemble de site web **********************/

* {
    font-family: 'Raleway', sans-serif;
}


/**************************** DATE ET HOURE SUR DEBUT ET FIN POSTE **********************/

#dateheure {
    color: #164194;
    text-align: center;
}


/**************************** IMAGE LOGO **********************/

.header {
    height: 150px;
    width: 350px;
}


/****************************** TITRES LES PAGES ******************************/

.titreUtilisateur {
    color: #164194;
    font-size: 35px;
}

#titreAjoutEngin,
#titreAjoutType,
#titreAjoutClient,
#titreAjoutEquipement,
#titreModif,
#titreTdb,
#titreDebutPoste,
#titreFinPoste,
#titreAjoutAnomalies {
    margin-bottom: 2%;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #164194;
}


/****************************** LES FORMULAIRES DE CRUD ******************************/

.formDebutPoste,
.formFinPoste,
.formAjoutEng,
.tableClients,
.tdbPrincipale,
.tableTypes,
.tableEquipements,
.tableAnomalies {
    text-align: center;
    margin-bottom: 10%;
    font-size: 12px;
}

@media only screen and (max-width: 768px) {
    .formAjoutEng,
    .formDebutPoste,
    .formFinPoste,
    .tableClients,
    .tdbPrincipale,
    .tableTypes,
    .tableEquipements,
    .tableAnomalies {
        margin-bottom: 25%;
    }
}


/**************************** HEADERS DES TABLEAU DE BORDS **********************/

.tdbTr {
    background-color: #164194;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .formModifEng,
    .formModifEng,
    .formModifEquipements,
    .tdb {
        margin-left: 5%;
        margin-right: 7%;
    }
}


/**************************** LES BTN SUR LES FORMULAIRES **********************/

.btnErrCode {
    margin-top: 3%;
}

#tri,
#filter {
    text-transform: uppercase;
    border: none;
    border-bottom: 2px solid #164194;
}

#labelTri {
    color: #164194;
    font-weight: bold;
    text-transform: uppercase;
}

.triFiltre {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .triFiltre {
        margin-left: 20%;
        margin-right: 20%;
        text-align: center;
        align-items: center;
    }
}

#btnCsv {
    padding: 2%;
}

.fa-trash-alt {
    color: #e62d20;
}

.fa-edit {
    color: #ffcc00;
}

.btnListeClients>a,
.btnTdbMain>a,
.btnIndex>a,
.btnAjoutClient>a,
.btnAjoutType>a,
.btnAjoutEngin>a,
.btnDebutPoste>a,
.btnFinPoste>a,
.btnModif>a,
.btnListeTypes>a,
.btnListeEquipements>a {
    margin: 1%;
    text-transform: uppercase;
}


/**************************** FOOTER **********************/

footer {
    background-color: #164194;
    color: #fff;
    width: 100%;
}


/**************************** FORMULAIRES A AJOUTER **********************/

.formAjoutClient,
.formDebutPoste,
.formFinPoste,
.formAjoutEquipement,
.formAjoutType,
.formAjoutEngin,
.formModif,
.formAjoutAnomalies {
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: white;
    box-shadow: 14px 14px 20px #164194, 14px 14px 20px #164194;
    margin: 25%;
    margin-top: 0%;
    margin-bottom: 10%;
    text-align: center;
    align-items: center;
}

input[type=text],
input[type=number],
input[type=date] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #164194;
}

@media only screen and (max-width: 768px) {
    .formAjoutClient,
    .formDebutPoste,
    .formFinPoste,
    .formAjoutEquipement,
    .formAjoutType,
    .formAjoutEngin,
    .formModifClient,
    .formModifEquipements,
    .formAjoutAnomalies {
        margin: 5%;
        margin-bottom: 25%;
    }
}

#labelForm {
    color: #164194;
    text-transform: uppercase;
    font-weight: bold;
}


/**************************** MODAL BS DES ANOMALIES **********************/

#imgAnomalies,
#imageEngin {
    width: 50px;
    height: 50px;
    margin: 0;
}

#imgAnomalies:hover {
    transform: scale(3);
}


/**************************** ALERT BS DE SUPPRESSION **********************/


/* .alert {
display: inline-block;
margin-left: 30%;
margin-right: 30%;
text-align: center;
}
*/

@media only screen and (max-width: 768px) {
    .alert {
        margin: 0;
    }
}

#counter {
    color: #164194;
    font-weight: bold;
    font-size: 13px;
    font-style: italic;
    margin: 1%;
}

#ddd {
    width: 100%;
    height: 100px;
    border: 1px solid #999999;
}

#imgObs {
    text-indent: -9999px;
}